#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /*margin-top: 60px;*/
}

h1, h2 {
    /*font-weight: normal;*/
    color: #42b983;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

.table {
    border-collapse: collapse;
    width: 100%;
}
.table .row > td, .row > th {
    border: 1px solid #999; padding: 0.5rem;
}

.app-panel {
    display: flex;
    justify-content: center;
    flex-flow: row;
}
.panel-left , .panel-right{
    margin:20px;
}

.map-panel {
    width: 600px;;
    height: 400px;;
    margin: 0 auto;
}

.settings-panel {
    overflow-y: scroll;
    flex: 1 0 500px;
}

.data-table {
    margin: 20px;
}

gmap-map {
    width: 800px;
    height: 400px;
    display: block;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    display: flex;
}

.modal-form {
    margin: 0 auto;
}

.form-field {
    display: flex;
    flex-direction: row;
}

form > .form-field {
    height: 50px;
}

.form-field .label {
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 100px;
}

.form-input {
    text-align: left;
    width: 260px;
}

.form-input input, select{
    width: 90%;
}

.form-actions {
    margin-top:20px;
}
.btn{
    border-top-color: transparent;
    border-left-color: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    width: 100px;
}

.btn-cancel {
    background-color: #fa6c75;
}

.btn-close {
    color: #1c4059;
    background-color: #e7ecf0;
}

.btn-edit {
    background-color: #337ab7;
}

.btn-save, .btn-add {
    background-color: #43b982;
}

.field-error input, .field-error select{
    border-color: red;
    background: #FDD;
}
.field-error span{
    color: red;
    font-size: 0.7em;
}

.error {
    border-color: red;
    background: #FDD;
}

.error:focus  {
    outline-color: #F99;
}

.link-name{
    cursor: pointer;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {
    .app-panel {
        flex-flow: column;
    }

}