@import "_variables.scss";

body {
  font-family: $app-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $app-font-color;
}

h1, h2, h3 {
  color: $app-green;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $app-green;
}


.app-panel {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.panel-left,
.panel-right {
  margin: 20px;
}

.map-panel {
  width: 600px;;
  height: 400px;;
  margin: 0 auto;
}

.settings-panel {
  overflow-y: scroll;
  flex: 1 0 500px;
}

gmap-map {
  width: 800px;
  height: 400px;
  display: block;
}

.btn {
  border-top-color: transparent;
  border-left-color: transparent;
  color: $btn-color;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  width: 100px;
}

.btn-cancel {
  background-color: $btn-bg-red;
}

.btn-close {
  color: $btn-color-white;
  background-color: $btn-bg-white;
}

.btn-edit {
  background-color: $btn-bg-blue;
}

.btn-save, .btn-add {
  background-color: $btn-bg-green;
}

@media screen {
  .app-panel {
    @media (max-width: 900px) {
      flex-flow: column;
    }
  }
}


