$app-font-color: #2c3e50;
$app-font-family: 'Avenir', Helvetica, Arial, sans-serif;
$app-green: #42b983;
$btn-color: #ffffff;
$btn-color-white: #1c4059;
$btn-bg-white: #e7ecf0;
$btn-bg-red: #fa6c75;
$btn-bg-blue: #337ab7;
$btn-bg-green: #43b982;
$error-color: #ff0000;
$error-bg: #ffdddd;
$error-outline: #ff9999;
